{
  # use babel as parser
  # https://github.com/babel/babel-eslint
  parser: "babel-eslint",
  rules: { "strict": 0 },

  # use eslint-plugin-react for linting
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],

  # Global variables: false means that these are read-only
  globals: {
    require: false,
    document: true,
    window: true,
    jest: false,
    it: false,
    pit: false,
    describe: false,
    expect: false,
    module: false,
    beforeEach: false,
    afterEach: false
  }
}
